.service{
  padding: 2% 0;
  margin-bottom: 2%;
  box-shadow: 0 0 10px #e0e0e0;
  overflow-x: hidden;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-heading {
  margin: 5px 0 5px 0;
  border-bottom: 5px solid #673ab7;
  padding-bottom: 8px;
  width: max-content;
  margin-bottom: 12px;
}

.card{
  height: 10vh;
  min-height: auto;
  margin-bottom: 2%;
  padding: 5px 2px 0px 5px ;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-content: center;
  align-items: center;
  color: black;
  box-shadow: 0 0 10px #e0e0e0;
  transition: all 0.5s ease;
}

.card:hover{
  color: white;
  /* background-color: #673ab7; */
  background-color: #05addc;
  transition: 0.2s ease-in-out;
}

.txt{
  display: flex;
  align-items: stretch;
  align-content: center;
  text-decoration: none;
  font-size: 16px;
  text-align: start;
  font-family: 'Montserrat',sans-serif;
  padding: 5px 0px 0px 8px;
  text-align: left;
}

@media screen and (max-width:576px) {
  .card{
    /* overflow: scroll; */
    width:95vw;
    height: auto;
    max-height: 10vh;
  }
  .card:hover{
    background-color: #33d3ff;
  }
  .txt{
    font-size: 13px;
    font-weight: 500;
  }
}
