.service{
  padding: 5% 0;
  margin-bottom: 5%;
  box-shadow: 0 0 10px #e0e0e0;
  overflow-x: hidden;
}

.heading-border{
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.service-heading{
  padding-bottom: 5px;
  /* align-self: center; */
  border-bottom: 5px solid #673ab7;
  opacity: 0.8;
  width: max-content;
}

.card{
  height: 15vh;
  margin-bottom: 2%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-content: center;
  align-items: center;
  color: black;
  box-shadow: 0 0 10px #e0e0e0;
  transition: all 0.5s ease;
}

.card:hover{
  color: white;
  background-color: #673ab7;
  transition: 0.2s ease-in-out;
}

.txt{
  display: flex;
  align-items: stretch;
  align-content: center;
  text-decoration: none;
  font-size: 1rem;
  text-align: start;
  font-family: 'Montserrat',sans-serif;
  padding: 2% 5%;
}

@media screen and (max-width:576px) {
  .card{
    overflow: scroll;
    width:95vw;
  }
}
