<div class="service" id="service-section">
  <div class="heading">
    <div class="heading-border">
      <h1 class="service-heading" i18n>&nbsp;What I Do? ✅&nbsp;</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Create variety of different graphic designs, layouts for websites</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Build and deliver websites using HTML, CSS, JavaScript and modern JS Frameworks</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Build and deploy quality webapps using modern frameworks like Angular, ReactJS</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Design the mock up based on customer's requirements using tools like photoshop and figma</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Will proceed with the flow only if the requirements are clear</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Build web solutions based on the mock designs and framework designs</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Can work around Relational as well as Non-Relational Database solutions</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Contribute to Open-Source via Github in my pass time.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Multi-task across multiple functions and roles to generate project results and meet deadlines and organizational
          expectations</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Ensuring the components work as expected by Unit testing them with modern testing solutions like Jest</p>
        </div>
      </div>

    </div>
  </div>
</div>
