<div class="service" id="service-section">
  <div class="heading">
    <div class="heading-border">
      <h1 class="service-heading" i18n>&nbsp;What I Do? ✅&nbsp;</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Convert wireframes, designs to actual websites.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Flexible in working with figma, adobe designs.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Making sure to deliver code by following good code practices.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Flexible in developing websites with Angular, ReactJS.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Establishing UI consistency across modern browsers.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Enhancing Accessibility of the website using best Accessibility practices.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Building REST APIs to handle business logic at server side Using NodeJS.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Documenting the progress and any notable findings during analysis and development stages.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Ensuring websites are SEO friendly.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Implementing data security at every possible level of the project lifecycle.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Unit testing the product completely before delivering the code.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt" i18n>Following QA best practices before sending it to actual QA testing.</p>
        </div>
      </div>

    </div>
  </div>
</div>
