<div class="service" id="service-section">
  <div class="heading">
    <div class="heading-border">
      <h1 class="service-heading">&nbsp;What I Do? ✅&nbsp;</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Prepare variety of different designs, layouts and websites</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Build and deliver websites using HTML, CSS, JavaScript and jQuery languages</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Able to deliver customer with quality webapps using modern frameworks like Angular, ReactJS</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Design the mock up according to requirements using tools like photoshop and figma</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Actively listen to customers' requests, confirming full understanding before addressing concerns</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Build the webapps based on the mock designs and framework designs</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Can work around Relational as well as Non-Relational Database solutions</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Contribute to Open-Source via Github in my pass time.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <p class="txt">Multi-task across multiple functions and roles to generate project results and meet deadlines and organizational
          expectations</p>
        </div>
      </div>

    </div>
  </div>
</div>
