<div class="holopin-container">
  <div class="section-wrapper">
    <h1 class="section-heading" i18n>&nbsp;My Holopin Badges 📌&nbsp;</h1>
  </div>
  <p class="holopin-info">The current Holopin board holds all of my badges which was awarded to me as I made considerable contributions in <b>Hacktoberfest</b> 2022. This is an open source event where we go through all of the projects hosted across Github and we can choose and contribute to those projects according to our tech expertise. For more info checkout my blog @Medium</p>
    <div class="holopin-board" matTooltipShowDelay="1000" matTooltip="Checkout my Holopin profile" [matTooltipPositionAtOrigin]="enabled.value">
      <a href="https://holopin.io/@shahbaazx786">
        <img class="holopin" src="https://holopin.me/shahbaazx786" alt="@Shaik Shahbaaz's Holopin board"
        ngClass.md="holopin-md" ngClass.sm="holopin-sm" />
      </a>
    </div>
</div>
