<div id="resume">
  <div class="container">
    <p class="helper-text">Unable to View Resume below due to some browser restrictions?<a href="../../assets/files/Resume.pdf">Try this</a></p>
    <!-- <embed src="../../assets/files/Resume.pdf#toolbar=0" type="application/pdf" width="600" height="500" /> -->
    <iframe id="pdfframe" src="../../assets/files/Resume.pdf#toolbar=0" frameborder="0" class="pdf"></iframe>
    <!-- remove #toolbar=0 to add a toolbar similar to google toolbar when its opened a pdf. -->
    <div class="button">
      <a class="fake-btn" href="../../assets/files/Resume.pdf" download>Download Instead?</a>
    </div>
  </div>
</div>
