<nav class="navbar navbar-expand-lg bg-transparent ">
  <div class="container-fluid">
    <!-- section-1 -->
    <a class="navbar-brand"  routerLink="/home">
      <span class="im-not-a-wrapper">
        <span class="zuiii-animation" i18n>S</span>
        <span class="zuiii-animation" i18n>H</span>
        <span class="zuiii-animation" i18n>A</span>
        <span class="zuiii-animation" i18n>H</span>
        <span class="zuiii-animation" i18n>B</span>
        <span class="zuiii-animation" i18n>A</span>
        <span class="zuiii-animation" i18n>A</span>
        <span class="zuiii-animation" i18n>Z</span>
      </span>
      <span class="im-not-a-wrapper">
        <span class="zuiii-animation" i18n>A</span>
        <span class="zuiii-animation" i18n>L</span>
        <span class="zuiii-animation" i18n>A</span>
        <span class="zuiii-animation" i18n>M</span>
      </span>
    </a>
    <!-- section-2 -->
    <div class="icons order-lg-1 ">
      <a href="www.google.com" target="_blank">
        <img class="nav-icon" i18n-alt src="../../../assets/V2/Icons/Navbar/Instagram-color.svg" alt="Instagram-icon">
      </a>
      <a href="https://www.google.com" target="_blank">
        <img class="nav-icon" i18n-alt src="../../../assets/V2/Icons/Navbar/Twitter-color.svg" alt="Twitter-icon">
      </a>
      <a href="www.google.com" target="_blank">
        <img class="nav-icon" i18n-alt src="../../../assets/V2/Icons/Navbar/LinkdIn-color.svg" alt="Linkdin-icon">
      </a>
      <div class="switcher">
          <img class="nav-icon special hidden1" i18n-alt src="../../../assets/V2/Icons/Navbar/Moon-color.svg"alt="dark-mode">
        <span class="hidden2">
          <img class="nav-icon special" i18n-alt src="../../../assets/V2/Icons/Navbar/Sun-color.svg" alt="light-mode">
        </span>
      </div>
    </div>

    <!-- section-3 -->
    <button class="navbar-toggler hidden" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse temp-lg order-lg-0 order-md-1" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active"  routerLink="/home" i18n>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about" i18n><span class="hidden" ><i class="uil uil-user" ></i></span>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="skills" i18n><span class="hidden"><i class="uil uil-java-script" ></i></span>Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="portfolio" i18n><span class="hidden"><i class="uil uil-briefcase-alt" ></i></span>Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="contact" i18n><span class="hidden"><i class="uil uil-envelope-add" ></i></span>Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="special-down-nav ">
  <a class="nav-link-X" aria-current="page" routerLink="/home">
    <img class="bottom-nav-icons" i18n-alt  [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" src="../../../assets/V2/Icons/Nav-links/nav-home.png" alt="home-icon">
    <p class="bottom-nav-txt" i18n @@home>Home</p>
  </a>
  <a class="nav-link-X" aria-current="page" routerLink="/about">
    <img class="bottom-nav-icons" i18n-alt routerLinkActive="active" src="../../../assets/V2/Icons/Nav-links/nav-about.png" alt="home-icon">
    <p class="bottom-nav-txt" i18n @@about>About Me</p>
  </a>
  <a class="nav-link-X" aria-current="page" routerLink="/portfolio">
    <img class="bottom-nav-icons" i18n-alt routerLinkActive="active" src="../../../assets/V2/Icons/Nav-links/nav-portfolio.png" alt="home-icon">
    <p class="bottom-nav-txt" i18n>Portfolio</p>
  </a>
  <a class="nav-link-X" aria-current="page" routerLink="/skills">
    <img class="bottom-nav-icons" i18n-alt  routerLinkActive="active" src="../../../assets/V2/Icons/Nav-links/nav-skill.png" alt="home-icon">
    <p class="bottom-nav-txt" i18n>Skills</p>
  </a>
  <a class="nav-link-X" aria-current="page" routerLink="/contact">
    <img class="bottom-nav-icons" i18n-alt routerLinkActive="active" src="../../../assets/V2/Icons/Nav-links/nav-contact.png" alt="home-icon">
    <p class="bottom-nav-txt" i18n>Contact</p>
  </a>
</div>
