@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Roboto:wght@400;700;900&display=swap');

.navbar{
  /* position: fixed; uncomment this if you need a sticky navbar which i personally don't like.
  top: 0;
  width: 100%;
  z-index: 1; */
  font-family: "Montserrat", sans-serif;
  /* margin: 0; */
  overflow-x: hidden;
  /* line-height:2rem ; */
  box-shadow: 0px 2px 4px rgb(235, 235, 235);
}

/* .container{
  margin: 0 3%;
} */

.s{
  font-family: 'Allura', cursive;
  font-weight: light;
  font-size: 2rem;
  color: #673ab7;
}

.hidden{
  display: none;
}

li a{
  font-family: sans-serif;
  /* font-weight: 400; */
}

li .active{
  border-bottom: 4px solid #673ab7;
  padding-bottom: 5px;
  width: 100%;
  border-radius: 1px;
  transition: 0.2s ease;
  display: inline-block;
}

.nav-link:hover{
  color: #673ab7;
}

.nav-link:focus{
  color: #673ab7;
  font-weight: normal;
}

.header-action{
  font-size: small;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 5%;
 }

.btn-outline-primary{
  color: #673ab7;
  border-color: #673ab7;
}

.btn-outline-primary:hover{
  color: white;
  background: #673ab7;
  border-color: #673ab7;
}

.im-not-a-wrapper{
  margin-right: 10px;
}


.navbar-brand{
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
}


.zuiii-animation{
  position: relative;
  bottom: 0;
  /* font-family: 'Fraunces', serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  transition-property: all;
  cursor: pointer;
  transition-duration: .5s;
}

.zuiii-animation:hover{
  bottom: 5px;
  color: #01C6FF;
  transition-property: all;
  transition-duration: 0.15s;
  animation-timing-function: cubic-bezier(0.8,0,0.2,1);
}




/* mobile and tab media queries */
@media only screen and (max-width:991px) {
  li .active {
    border-bottom: none;
    padding-bottom: 0;
    border-radius: 0;
    display: block;
  }

  .nav-link:focus {
    color: #673ab7;
    font-weight: bold;
  }

  .hidden{
    display: inline-block;
    font-size: 2.5rem;
    padding-right: 2%;
  }
  a {
    font-size: 2rem;
  }

  .header-action{
    font-size: 2rem;
    height: 4%;
    width: 90%;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 1%;
    }
  }
