@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/* .navbarcustomcolor{
  background-color: #a8a8a8;
} */

.container-fluid{
  box-shadow: 0px 2px 4px rgb(235, 235, 235);
}

.navbar-brand {
  font-family: 'Allura', cursive;
  font-weight: light;
  font-size: 1.7rem;
  padding-left: 5%;
  color: #673ab7;
}

li .active{
  /* border-top: 1px solid #673ab7; */
  border-bottom: 5px solid #673ab7;
  padding-bottom: 1px;
  width: 100%;
  border-radius: 1px;
  transition: 0.2s ease;
  display: inline-block;
}

.nav-link:hover{
  color: #673ab7;
}

.nav-link:focus{
  color: #673ab7;
  font-weight: normal;
}

.header-action{
  font-size: small;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 5%;
 }

.btn-outline-primary{
  color: #673ab7;
  border-color: #673ab7;
}

.btn-outline-primary:hover{
  color: white;
  background: #673ab7;
  border-color: #673ab7;
}


