<div id="portfolio-section">
  <div class="heading-wrapper">
    <h1 class="heading">&nbsp;Portfolio 📸&nbsp;</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-3 coll" *ngFor="let item of portfolio_array">
        <img [src]="item.img" alt="project-1" class="img" data-bs-toggle="modal" [attr.data-bs-target]="'#'+item.name">
      </div>
      <div *ngFor="let item of portfolio_array" class="modal fade" [id]=[item.name] tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <img [src]="item.img" alt="img" class="imgg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
