#portfolio-section{
  margin-top: 5%;
  margin-bottom: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 5px solid #01C6FF;
  padding-bottom: 8px;
  width: max-content;
}
.container2 {
  display: flex;
  justify-content: space-around;
}

.slide-container {
  /* max-width: 1200px; */
  width: 100%;
  height: auto;
  min-height: 400px;
  padding: 10px 0;
  margin: 10px 0;
}

.slide-content {
  margin: 0 45px;
  padding: 10px 0;
  overflow: hidden;
}
.swiper-navBtn {
  color: #4070F4;
  transition: color 0.3s ease-out;
}

.swiper-navBtn:hover {
  transition: color 0.3s ease-in;
  color: #01C6FF;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.card-wrapper{
  margin-bottom: 3%;
}

.card {
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(0px);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .info {
  opacity: 1;
  font-size: 1rem;
  transform: translateY(0px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #000000CC;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card .info h1 {
  margin: 0px;
  font-size: 2rem;
  font-weight: bold;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 1rem;
  margin-top: 8px;
}

.btnX{
  margin-top: 20px;
  margin-right: 10px;
  transition: 0.3s ease-out;
}

.btnX:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in;
  background-color: #01C6FF;
}

.divider-portfolio {
  position: relative;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  transform: rotate(180deg) rotateY(180deg);
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  transform: translateY(20px) scale(2) !important;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .divider-portfolio {
    height: 80px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .divider-portfolio {
    height: 40px;
  }

}

@media  only screen and (max-width:992px) {
  .swiper-navBtn{
    display: none;
  }
  .slide-content{
    margin: 0;
    padding: 1% 0;
  }
}

@media  only screen and (max-width:768px) {
  .slide-content{
    padding: 1% 0;
  }
}
