@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.project-section{
  padding: 5% 0;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5%;
}

.section-heading{
  padding: 1% 0;
  width: max-content;
  border-bottom: 5px solid #673ab7;
  font-weight: bold;
  text-align: center;
}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  margin-bottom: 2%;
  padding: 0;
  width: 300px;
  font-family: 'Roboto' sans-serif;
  background-color: white;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  transition: all .2s ease;
}

.card:hover{
  box-shadow: 8px 14px 38px #cbbee1, 1px 3px 8px #a190c0;
  transform: translate3D(0, -1px, 0) scale(1.06);
  transition: all .3s ease;
}

.card-title{
  font-style: larger;
  font-weight: 700;
  font-family: 'Montserrat',sans-serif;
  /* padding: 5% 0; */
}

.card-text{
  padding-bottom: 0;
  color: #929292;
}

.card-img-top{
  object-fit:fill;
  width: 100%;
  height: 150px;
}

.stack{
  display: flex;
  flex: start;
  flex-direction: row;
  align-items: center;
}

.stack-img{
  border-radius: 10%;
  border: 1px solid #e7e7e7;
  padding: 4px 1%;
  margin: 0 1%;
  height: 30px;
  width: 30px;
}

.top{
  margin: 5% 0;
}
.bottom{
  display: flex;
  flex: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1;
  align-items: center;
  margin: 5% 0;
  border-top: 1px solid #e7e7e7;
}

@media screen and (min-width:576px) and (max-width:768px) {
  .card{
    width: 45%;
    margin: 5px;
  }
}
@media screen and (max-width:576px) {
  .container{
    width: 90%;
  }
  .card{
    width: 90%;
    margin: 5px;
  }

  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
