@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* #project-section{
  background: #01C6FFCC;
  background: rgba(1, 198, 255,0.8);
  padding: 5% 0;
} */

.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5%;
}

.container{
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 5%;
}

.section-heading{
  padding: 1% 0;
  width: max-content;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-bottom: 5px solid #01C6FF;
  font-weight: bold;
  text-align: center;
}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  margin-bottom: 2%;
  padding: 0;
  width: 300px;
  background-color: white;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  transition: all .2s ease;
}

.card:hover{
  box-shadow: 8px 14px 38px #cbbee1, 1px 3px 8px #a190c0;
  transform: translate3D(0, -1px, 0) scale(1.06);
  transition: all .3s ease;
}

.card-title{
  font-style: larger;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Montserrat',sans-serif;
  /* padding: 5% 0; */
}

.card-text{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0;
  color: #929292;
}

.WIP{
  filter: blur(5px);
  /* object-fit:fill;
  width: 100%;
  height: 150px; */
}

.card-img-top{
  /* border: 2px solid #dbdbdb; */
  object-fit:fill;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 180px;
  padding: 1px;
}

.stack{
  display: flex;
  flex: start;
  flex-direction: row;
  align-items: center;
}

.stack-img{
  border-radius: 10%;
  border: 1px solid #e7e7e7;
  padding: 4px 1%;
  margin: 0 1%;
  height: 30px;
  width: 30px;
}

.top{
  margin: 5% 0;
}
.bottom{
  display: flex;
  flex: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1;
  align-items: center;
  margin: 5% 0;
  border-top: 1px solid #e7e7e7;
}


.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 15px;
}


.tab{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 5% 1%;
  flex-wrap: wrap;
}


.links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
  background-color: white;
  opacity: 0.2;
  width: 40px;
  height: 40px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 50%;
  top: 0;
  right: 0;
  padding: 1%;
  gap: 1rem;
  transition: all 0.3s ease-out;
}

.links:hover{
  opacity: 1;
  cursor: pointer;
  padding: 4%;
  width: 100px;
  height: 50px;
  border-bottom-left-radius: 5%;
  transition: all 0.3s ease-in;
}

.links-icon{
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in;
}

.links-icon{
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in;
}

.links-icon:hover{
  transform: translateY(-5px) scale(1.2);
  transition: all 0.2s ease-out;
}

.bigger{
  padding-bottom: 5px;
  height: 40px;
  width: 40px;
}

.divider-project {
  position: relative;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  transform: rotate(180deg);
}


/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .divider-project {
    height: 80px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .divider-project {
    height: 40px;
  }

}


  @media screen and (min-width:576px) and (max-width:768px) {
  .card{
    width: 45%;
    margin: 5px;
  }
}
@media screen and (max-width:576px) {
  .container{
    width: 100%;
    --bs-gutter-x: 0rem;
  }
  .card{
    width: 90%;
    margin: 5px;
  }

  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
