<div id="experience-section">
  <div class="container">
    <div class="heading">
      <h1 class="section-heading">Experience</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="card exp-card">
          <div class="wrapper">
            <div class="left-side col-lg">
              <img class="client-logo" src="../../assets/img/external/Experience/starbucks.6e1e09ca281503b4e1c9.png" alt="Compant Logo">
              <h5 class="client-name">Starbucks</h5>
              <p class="tenure">Nov 2020 - Mar 2021</p>
            </div>
            <div class="right-side col-lg-8">
              <h3 class="role">WordPress Developer</h3>
              <p class="desc">I worked on the Official Starbucks Website for Trinidad and Tobago. The project included complete redesign of their
              website, and adopting the standard Starbucks style for the country's website</p>
              <p class="resp-title">Responsibilites</p>
              <ul class="resp-list">
                <li class="resp-item">Conerting the designs into working site</li>
                <li class="resp-item">Cleaning existing pages and converting to newer designs</li>
                <li class="resp-item">Constantly delivering and receiving the feedback</li>
                <li class="resp-item">Work on the feedback points</li>
                <li class="resp-item">Resolve any hosting problems</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card exp-card">
          <div class="wrapper">
            <div class="left-side col-lg-4">
              <img class="client-logo" src="../../assets/img/external/Experience/starbucks.6e1e09ca281503b4e1c9.png" alt="Compant Logo">
              <h5 class="client-name">Starbucks</h5>
              <p class="tenure">Nov 2020 - Mar 2021</p>
            </div>
            <div class="right-side col-lg-8">
              <h3 class="role">WordPress Developer</h3>
              <p class="desc">I worked on the Official Starbucks Website for Trinidad and Tobago. The project included complete redesign of their
              website, and adopting the standard Starbucks style for the country's website</p>
              <p class="resp-title">Responsibilites</p>
              <ul class="resp-list">
                <li class="resp-item">Conerting the designs into working site</li>
                <li class="resp-item">Cleaning existing pages and converting to newer designs</li>
                <li class="resp-item">Constantly delivering and receiving the feedback</li>
                <li class="resp-item">Work on the feedback points</li>
                <li class="resp-item">Resolve any hosting problems</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
