<div id="experience-section">
  <div class="container">
    <div class="heading">
      <h1 class="section-heading">&nbsp;Experience💡&nbsp;</h1>
    </div>
    <mat-tab-group animationDuration="0ms" [color]="'primary'" [backgroundColor]="'warn'">
      <mat-tab class="tab" [label]="item.name" *ngFor="let item of ExpData">
        <mat-card-content>
          <div class="wrapper">
            <div class="left-side col-lg-4 col-md-4">
              <img class="client-logo" [src]="item.logo" alt="Logo">
              <h3 class="client-name">{{item.fullname}}</h3>
              <h4 class="tenure">{{item.startDate}} - {{item.completeDate}}</h4>
            </div>
            <div class="right-side col-lg-7 col-md-7">
              <h2 class="role">{{item.designation}}</h2>
              <p class="desc">{{item.intro}}</p>
              <p class="resp-title">What I've Worked:</p>
              <ul class="resp-list" *ngFor="let x of item.responsibilities">
                <li class="resp-item" type="circle">{{x}}</li>
              </ul>
            </div>
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
