<div class="container" id="homesection">
  <div class="row">

    <div class="hero-text col-lg-6 order-lg-2 order-2">
      <!--Most important tip ever when you use order-1 and order-2 then when the screen enters medium device width then the cols are ordered based on the order given to them (order-lg-1 and order-lg-2) but they get displayed based on the order call i.e, (order-lg-2 order 1, means it is given order of 2 but we are calling it to be in order 1 whenever the screen gets less than lg) -->
      <div class="text-wrapper">
        <h1 class="hero-heading" i18n>Hey, I'm <span class="special-effect-1">Shaik Shahbaaz Alam</span><span class="wave-hand">👋</span></h1>
        <h1 class="typewriter"  i18n>Developer. <span class="colored-txt">&nbsp;Designer.</span> <span class="colored-txt">Creator.&nbsp;</span> Reader.</h1>
        <h6 class="intro-bio" i18n>I'm a Full Stack Software Developer 🚀 having keen interest in Frontend technologies and experience of
        building Web applications with modern JavaScript Frameworks like Angular, Reactjs, Nodejs and some other cool libraries. Also I do have a knack of digital art which i do in my pass time <a class="about-link" routerLink="/about" i18n-a>Read More...</a></h6>
      </div>
    </div>

    <div class="hero-img col-lg-6 order-lg-2 order-1">
      <!-- here we are giving the serial number as order-lg-2 but we are calling it in order-1 i.e, in mobile and tab devices first this gets loaded then order-2 -->
      <div class="img-wrapper">
        <img i18n-alt class="hero-img profile-picture" src="../../assets/img/external/Ichigo-profile.jpg" alt="hero-profile-img">
      </div>
      <div class="buttons">
        <button class="btn grad"><i class="fa-brands fa-github ico"></i>{{github}}</button>
        <button class="btn grad"><i class="fa-brands fa-linkedin ico"></i>{{linkedin}}</button>
      </div>
    </div>

  </div>
</div>
