<div class="container" id="homesection">
  <div class="row">

    <div class="hero-text col-lg-6 order-lg-2 order-2">
      <div class="text-wrapper">
        <h1 class="hero-heading">Hi, I'm Shahbaaz<span class="wave-hand">👋</span></h1>
        <h3 class="typewriter">and I'm a developer</h3>
        <h6 class="intro-bio">A passionate Full Stack Software Developer 🚀 having keen interest in Frontend technologies and experience of
        building Web applications with JavaScript / Angular / Reactjs / Nodejs and some other cool libraries and frameworks.</h6>
      </div>
      <div class="buttons">
        <button class="btn"><i class="uil uil-github ico"></i>Checkout my Github</button>
        <button class="btn"><i class="uil uil-linkedin ico"></i>Checkout my LinkedIn</button>
      </div>
    </div>

    <div class="hero-img col-lg-6 order-lg-2 order-1">
      <div class="img-wrapper">
        <img class="hero-img" src="../../assets/img/external/Ichigo-profile.jpg" alt="hero-profile-img">
      </div>
    </div>

  </div>
</div>
