@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@300;400&display=swap');

.container{
  padding: 5% 1%;
}

.hero-heading{
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1%;
}

.typewriter{
  font-family: 'Montserrat',sans-serif;
  padding-bottom: 5%;
  font-weight: bolder;
}

.intro-bio{
  line-height: 2rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: normal;
  opacity: 0.8;
  padding-bottom: 5%;
}

.btn{
  text-align: center;
  color: white;
  background-color: #673ab7;
  margin-right: 4%;
  font-size: 1.1rem;
  font-weight: normal;
  padding-bottom: 2%;
}

.btn:hover {
  border: 1px solid #673ab7;
  color: #673ab7;
}

.ico{
  font-size: 22px;
  padding-right: 10px;
}

/*
.img-wrapper{
  border-radius: 50%;
  border: 1px solid black;
} */

img{
  margin: 5% 1%;
  margin-left: 5%;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  border: 5px solid #673ab7;
  box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px,
  rgba(17, 17, 26, 0.1) 0px 16px 56px,
  rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.hero-img{
  align-items: center;
  text-align: center;
}

