@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@300;400&display=swap');

.container{
  overflow-x: hidden;
  padding: 5% 1%;
}

.hero-heading{
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1%;
}

.typewriter{
  font-family: 'Montserrat',sans-serif;
  padding-bottom: 5%;
  font-weight: bolder;
}

.intro-bio{
  justify-content: center;
  line-height: 2.5rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: normal;
  opacity: 0.8;
  margin-bottom: 5%;
}

.buttons {
  padding-top: 5%;
}

.btn{
  padding: 0.5rem 1rem;
  text-align: center;
  align-items: center;
  color: white;
  background-color: #673ab7;
  margin-right: 5%;
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 5%;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
  transition: all 0.2s ease;
  border: 1px solid #673ab7;
  color: #673ab7;
}

.ico{
  font-size: 25px;
  font-weight: normal;
  padding-right: 10px;
}

.profile-picture{
  margin: 5% 1%;
  margin-left: 5%;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  border: 5px solid #673ab7;
  box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px,
  rgba(17, 17, 26, 0.1) 0px 16px 56px,
  rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.hero-img{
  align-items: center;
  text-align: center;
}

@media screen and (max-width:507px) {
  .text-wrapper {
      padding: 0 5%;
    }

  .typewriter{
    text-align: center;
  }

  .hero-heading{
    text-align: center;
  }


  .buttons{
    text-align: center;
    padding-top: 0;
  }
}
