<div class="container" id="hobby-section">
  <div class="heading-wrapper">
    <h1 class="heading">&nbsp;Hobbies 🎸&nbsp;</h1>
  </div>
  <div class="body-content">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-left">
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/music.gif" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="hobby-card-txt">Some good music or songs will always do the magic of clearing the fatigue.</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-right ">
          <mat-card-content>
            <p class="hobby-card-txt">The Photographer in me is always eager to capture the best moments of life.</p>
          </mat-card-content>
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/photo-camera.gif" alt="Photo of a Shiba Inu">
        </mat-card>
      </div>

      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-left  col col-lg-12 col-md-10 col-sm-12">
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/typing.gif" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="hobby-card-txt">Typing!..  I have recently reached the 90(wpm) words per minute speed mark.</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-right ">
          <mat-card-content>
            <p class="hobby-card-txt">Building!, Engineering!, Crafting!. Building good projects for work and myself gives me a sense of achievement.</p>
          </mat-card-content>
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/blueprint.gif"
            alt="Photo of a Shiba Inu">
        </mat-card>
      </div>

      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-left  col col-lg-12 col-md-10 col-sm-12">
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/paint-palette.gif" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="hobby-card-txt">I loved drawing as a kid. And Now I am still do it digitally 😁</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-right ">
          <mat-card-content>
            <p class="hobby-card-txt">I thank the Almighty for all the tasty food he gave us in this life! #foodie</p>
          </mat-card-content>
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/noodle.gif" alt="Photo of a Shiba Inu">
        </mat-card>
      </div>

      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-left  col col-lg-12 col-md-10 col-sm-12">
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/clapperboard.gif"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="hobby-card-txt">Movies, Webseries, Anime, Novels comes in handy when I just want to laydown and chill!.</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col col-lg-12 col-md-12 col-sm-12">
        <mat-card class="hobby-card-right ">
          <mat-card-content>
            <p class="hobby-card-txt">Being an Indian I already know more than 3 languages. I try to work on perfecting my arabic language whenever I get time.</p>
          </mat-card-content>
          <img class="hobby-card-img" src="../../assets/img/external/Hobby-section/geography.gif" alt="Photo of a Shiba Inu">
        </mat-card>
      </div>

    </div>

  </div>
</div>
