<div class="container-fluid">
  <div class="top" *ngIf="topwave === 1">
    <img class="divider-contact" src="../../../assets//V2/Dividers/wave3.svg" alt="cool-top-divider-svg">
  </div>
  <div class="bottom" *ngIf="bottomwave === 1">
    <img class="divider-contact" src="../../../assets//V2/Dividers/wave3.svg" alt="cool-bottom-divider-svg">
  </div>
  <div class="top" *ngIf="topwave === 2">
    <img class="divider-contact" src="../../../assets//V2/Dividers/wave3.svg" alt="cool-top-divider-svg">
  </div>
  <div class="bottom" *ngIf="bottomwave === 2">
    <img class="divider-contact" src="../../../assets//V2/Dividers/wave3.svg" alt="cool-bottom-divider-svg">
  </div>
</div>
