@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@300;400&display=swap');

.about{
  margin-bottom: 5%;
}

.container{
  margin: 2% 5%;
}

img{
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.image-wrapper{
  margin: 1% 0;
}

.aboutmeheading{
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 4px solid purple;
  padding-bottom: 1%;
  width: 38%;
}

.about-paragraph{
  font-family: 'Helvetica',sans-serif;
  text-align: left;
  justify-content: center;
  font-size: 1.3rem;
  opacity: 0.8;
  margin: 5% 0;
  line-height: 1.6rem;
}
