<div class="container">
  <div class="heading-wrapper">
    <h1 class="heading" i18n>&nbsp; About Me 🧑‍💻&nbsp;</h1>
  </div>
  <div class="about" id="aboutsection">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-wrapper">
          <!-- <img  src="../../assets/img/external/img.gif" alt="funky-coder-img" i18n-alt> -->
          <img  src="../../assets/V2/About-filler.jpg" alt="image by upklyak on freepik" i18n-alt>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-text">
          <p class="about-paragraph" i18n>Me, Shaik Shahbaaz Alam, completed my graduation in <b>Computer Science & Engineering</b> at GPCET Kurnool, India in 2021. I am a skilled developer by profession who loves to solve challenges on a regular basis.
          </p>
          <p class="about-paragraph" i18n>I Decided to join as a Frontend Developer in a great project at <b>Accenture</b> after completing my under-grad degree. This decision helped me gain abundant knowledge on Engineering, Networking, Project management, Risk analysis, Documenting and many more Extra curriular activities. And I've got chance to work on modern Javascript frameworks like <b>Angular</b> by learning and developing the features according to the client's requirement on <b>MEAN stack</b>.</p>
          </div>
      </div>
    </div>
  </div>
</div>
