<div class="container">
  <div class="about" id="aboutsection">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-wrapper">
          <img  src="../../assets/img/external/img.gif" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-text">
          <h1 class="aboutmeheading">&nbsp;About Me 🤘&nbsp;</h1>
          <p class="about-paragraph">I am a <b>Computer Science</b> graduade who got graduated at GPCET Kurnool, India in 2021 with Computer
          Science and Engineering Degree. I am a skilled developer by profession who loves to solve challenges on a regular basis.
          </p>
          <p class="about-paragraph">I joined the <b>IT Giant Accenture</b> right after my graduation which helped me grow so much both technically and as a person.
            I got to work on modern Javascript frameworks like <b>Angular</b> by learning and developing the features according to the client's requirement on <b>MEAN stack</b>.</p>
          </div>
      </div>
    </div>
  </div>
</div>
