@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@300;400&display=swap');

.about{
  overflow-x: hidden;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container{
  margin-top: 5%;
  margin-bottom: 5%;
}

img{
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 5px solid #01C6FF;
  padding-bottom: 8px;
  width: max-content;
}

.image-wrapper{
  margin: 1% 0;
}

.about-paragraph{
  /* padding-right: 2%; */
  font-family: 'Montserrat',sans-serif;
  text-align: justify;
  justify-content: center;
  font-size: 1.4rem;
  opacity: 0.8;
  margin: 5% 0;
  line-height: 1.6rem;
}


@media screen and (max-width:992px) {
  .about{
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

    img {
      text-align: center;
      align-items: center;
      align-self: center;
      padding: 0 4%;
    }


    .aboutmeheading {
      font-size: 2rem;
      margin: 2% 5%;
    }

    .about-paragraph {
      padding: 0 5%;
    }


}
