<div class="d">
  <h4 mat-dialog-title i18n>Select a Different Language</h4>
  <mat-dialog-content class="mat-typography">
    <a class="page-link" mat-menu-item href="/en" i18n>English</a>
    <a class="page-link" mat-menu-item href="/hi" i18n>Hindi</a>
    <a class="page-link" mat-menu-item href="/ja" i18n>Japanese</a>
    <a class="page-link" mat-menu-item href="/ur" i18n>Urdu</a>
    <a class="page-link" mat-menu-item href="/te" i18n>Telugu</a>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close i18n>Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button> -->
  </mat-dialog-actions>
</div>
