.dialog-container{
  width: 500px;
  max-width: 100%;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

/* .dialog-container {
  background: #73daf6;
  background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);
  background: linear-gradient(to top, #0072ff, #00c6ff);
} */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.page-link {
  width: auto;
  width: -webkit-fill-available;
  color: black;
  padding:5%;
  font-weight: bold;
  text-align: left;
  border-radius: 16px;
  border: 1px solid transparent;
}

.page-link:hover{
  border: 1px solid #01C6FF;
}

.flag{
  border:1px solid rgb(199, 199, 199);
  height: 35px;
  width: 35px;
  margin-right: 15px;
  border-radius: 5%;
}
