<div class="dialog-container">
  <h4 mat-dialog-title i18n>Select a Different Language</h4>
  <mat-dialog-content class="mat-typography wrapper" >
    <a class="page-link" mat-menu-item href="/ar" i18n><img class="flag" src="../../assets/V2/Flags/sa.svg">Arabic</a>
    <a class="page-link" mat-menu-item href="/en" i18n><img class="flag" src="../../assets/V2/Flags/us.svg">English</a>
    <a class="page-link" mat-menu-item href="/hi" i18n><img class="flag" src="../../assets/V2/Flags/in.svg">Hindi</a>
    <a class="page-link" mat-menu-item href="/ja" i18n><img class="flag" src="../../assets/V2/Flags/jp.svg">Japanese</a>
    <a class="page-link" mat-menu-item href="/te" i18n><img class="flag" src="../../assets/V2/Flags/in.svg">Telugu</a>
    <a class="page-link" mat-menu-item href="/ur" i18n><img class="flag" src="../../assets/V2/Flags/in.svg">Urdu</a>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close i18n>Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button> -->
  </mat-dialog-actions>
</div>
