<app-header></app-header>
<section #hero> <app-hero></app-hero></section>
<section #about> <app-about></app-about></section>
<section #services> <app-services></app-services></section>
<section #skills> <app-skills></app-skills></section>
<section #experience> <app-experience></app-experience></section>
<section #projects> <app-projects></app-projects></section>
<section #portfolio> <app-portfolio></app-portfolio></section>
<section #hobby> <app-hobby></app-hobby></section>
<section #contact> <app-contact></app-contact></section>
<app-footer></app-footer>
