<div class="homepage">
  <app-hero></app-hero>
  <!-- <app-waves [topwave]=1 [bottomwave]=1></app-waves> -->
  <app-about></app-about>
  <!-- <app-waves [topwave]=2 [bottomwave]=2></app-waves> -->
  <app-services></app-services>
  <!-- <app-waves [topwave]=1 [bottomwave]=1></app-waves> -->
  <app-skills></app-skills>
  <!-- <app-waves [topwave]=1 [bottomwave]=1></app-waves> -->
  <app-experience></app-experience>
  <!-- <app-waves [topwave]=1 [bottomwave]=1></app-waves> -->
  <app-projects></app-projects>
  <!-- <app-waves [topwave]=1 [bottomwave]=1></app-waves> -->
  <app-portfolio></app-portfolio>
  <!-- <app-waves [topwave]=1 [bottomwave]=1></app-waves> -->
  <app-contact></app-contact>
  <!-- <app-waves [topwave]=1 [bottomwave]=1></app-waves> -->
</div>
