#contact {
  overflow-x: hidden;
  margin: 5% 0;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

.section-heading {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 5px solid #01C6FF;
  width: auto;
}

.row {
  padding-bottom: 5%;
}

.card {
  display: flex;
  margin: 1% 1%;
  padding: 5% 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  transition: all .5s ease;
}

.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  transition: all .4s ease;
  cursor: pointer;
  color: white;
}

.card:hover .overlay{
  transform: scale(15) translateZ(0);
}

.overlay {
  width: 50px;
  position: absolute;
  height: 50px;
  border-radius: 50%;
  top: 40%;
  left: 40%;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.text-wrapper {
  padding-top: 5%;
}

i {
  z-index: 1;
  font-size: 5rem;
  color: #673ab7;
  padding-bottom: 5%;
}

i:hover {
  z-index: 1;
  color: white;
  transition: all 0.4s ease;
}

.social {
  font-weight: bold;
}


@media screen and (max-width:992px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (max-width:576px) {
  .row {
    padding: 5% 6%;
  }
}

