#experience {
  overflow-x: hidden;
  margin: 5% 0;
}


.section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

.section-heading {
  text-align: center;
  border-bottom: 5px solid #673ab7;
  width: max-content;
}

.row {
  padding-bottom: 5%;
}

.card {
  display: flex;
  margin: 1% 1%;
  padding: 5% 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  /* box-shadow: 0 0 10px #f5f5f5; */
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  transition: all .5s ease;
}

.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.15);
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  transition: all .4s ease;
  cursor: pointer;
  background: #dac9f9;
  color: black;
}

.text-wrapper {
  padding-top: 5%;
}

i {
  font-size: 5rem;
  color: #673ab7;
  padding-bottom: 5%;
}

i:hover {
  color: black;
  transition: all 0.4s ease;
}

.social {
  font-weight: bold;
}
