<div id="contact">
  <img class="divider-footer" src="../../assets/V2/Dividers/ContactTopwaves.svg">
  <div class="container">
    <div class="section-wrapper">
      <h1 class="section-heading" i18n>&nbsp;Contact me 📧&nbsp;</h1>
    </div>
    <div class="row">
      <div class="card col-lg col-md-5 col-sm-12" *ngFor="let contact of contacts">
        <div class="box">
            <a class="links" target="_blank" [href]="contact.link">
              <i [class]=contact.class [ngStyle]="{color:contact.iconColor}"></i>
            </a>
            <div class="overlay" [ngStyle]="{background:contact.color}"></div>
            <div class="txt-wrapper">
              <p class="social">{{contact.social}}</p>
              <p class="username">{{contact.username}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
