.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 0px 0px 5px #eaeaea; */
}

.wrapper-2{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.pages,
.social,
.language{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2% 0;
  padding: 0 10%;
}

i{
  color: #7A88A8;
  font-size: 20px;
  margin-right: 10px;
}

a{
  margin: 10px 0;
}

.txt{
  color: #7A88A8;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper-1{
  border-top: 1px solid black;
  padding: 1rem 0;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items:flex-start;
}

.foot-icons{
  width: 30px;
  justify-content: center;
  align-items: baseline;
}

.footer_copy{
  font-size: 15px;
  justify-content: center;
  text-align: center;
  color: #7A88A8;
}

.link{
  text-decoration: none;
  color: #B2BACE;
  transition: 0.6s ease-in;
}

.link:hover{
  color: white;
  background-color: #7A88A8;
  transition: 0.6s ease-out;
}

.custom-pos-1{
  padding-top: 5px;
}



@media only screen and (max-width:992px) {
  .language {
    padding-top: 5%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width:600px) {
  .container{
    margin-bottom: 8vh;
  }
  .language{
    justify-content: center;
    align-items: center;
  }
  i {
    color: #7A88A8;
    font-size: 16px;
    margin-right: 10px;
  }
}
