<footer class="container-fluid footer">
  <div class="footer_bg">
    <div class="footer_container container grid">
      <div>
        <h1 class="footer_title">Shaik Shahbaaz Alam</h1>
        <span class="footer_subtitle">Web Developer</span>
      </div>
      <ul>
        <li>
          <a class="footer_link">Services</a>
        </li>
        <li>
          <a class="footer_link">Portfolio</a>
        </li>
        <li>
          <a class="footer_link">Contact me</a>
        </li>
      </ul>

      <div class="footer_socials">
        <a href="https://www.facebook.com/" target="_blank"><i class="uil uil-facebook ico"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i class="uil uil-twitter ico"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram-alt ico"></i></a>
        <a href="https://www.github.com/" target="_blank"><i class="uil uil-github ico"></i></a>
        <a href="https://www.medium.com/" target="_blank"><i class="uil uil-medium-m ico"></i></a>
      </div>

      <p class="footer_copy">&#169; Shaik Shahbaaz Alam. All rights reserved</p>
    </div>

  </div>
</footer>
