.footer{
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer_container{
  row-gap: 3.5rem;
}

.footer_bg{
  background-color: #673ab7;
  padding: 1rem 0 1rem;
}

.footer_title{
  font-size: 2rem;
  margin-bottom: 25px;
}

.footer_subtitle{
  font-size: 1rem;
  margin-left: 1%;
}

.footer_links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer_link:hover{
  color: white;
}

.footer_socials{
  text-align: center;
}

.footer_socials:hover{
  color: white;
}

.footer_copy{
  font-size: large;
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.footer_title, .footer_subtitle, .footer_link, .footer_social{
  color: white;
}

li, a{
  list-style: none;
  text-decoration: none;
}


.ico{
  text-align: center;
  padding-right: 5%;
  font-size: 2rem;
  color: white;
}
