.container-fluid{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 0px 0px 5px #eaeaea; */
}

.wrapper-2{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.pages,
.social,
.language{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 2% 0;
  padding: 0 10%;
}

.page-link:hover .color{
  color: #01C6FF;
}


i{
  color: #7A88A8;
  font-size: 20px;
  margin-right: 10px;
}

a{
  margin: 10px 0;
}

.txt{
  color: #7A88A8;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper-1{
  border-top: 1px solid black;
  padding: 10px 0 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items:flex-start;
}

.foot-icons{
  width: 25px;
  justify-content: center;
  align-items: baseline;
}

.icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer_copy{
  font-size: 15px;
  justify-content: center;
  text-align: center;
  color: #7A88A8;
}

.link{
  overflow: hidden;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.6s ease-in;
  padding: 0 5px;
}

.link:hover{
  color: black;
  padding: 0 5px;
  background-color: #01C6FF;
  transition: 0.6s ease-out;
}

.custom-pos-1{
  padding-top: 5px;
}

.lang-txt{
  font-family: inherit;
  font-weight: 500;
  margin-top: 5%;
  line-height: 1.5rem;
  color: #7A88A8;
  margin-bottom: 5%;
  text-align: center;
}

.lang-3{
  width: max-content;
}

.lang-btn {
  background-color: #8de6ff;
  border-radius: 100px;
  box-shadow: hsla(187, 62%, 45%, 0.2)x -14px inset, rgba(44, 156, 187, 0.15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: solid black;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 1px solid transparent;
}

.lang-btn:hover {
  box-shadow: rgba(44, 170, 187, 0.35) 0 -25px 18px -14px inset, rgba(44, 165, 187, 0.25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  color: white;
  border: 1px solid #01C6FF;
}


@media only screen and (max-width:992px) {
  .language {
    padding-top: 5%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width:600px) {
  .container{
    margin-bottom: 8vh;
  }

  .social{
    padding: 0 5%;
  }

  .language{
    justify-content: center;
    align-items: center;
  }

  a {
    margin: 6px 0;
  }

  i {
    color: #7A88A8;
    font-size: 16px;
    margin-right: 10px;
  }

  .footer_copy{
    margin-bottom: 10vh;
  }
}

.divider-footer{
  position: relative;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.divider-footer-sm, .divider-footer-md{
  display: none;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .divider-footer, .divider-footer-sm{
    display: none;
  }
  .divider-footer-md {
    display: flex;
      position: relative;
      width: 100%;
      overflow-x: hidden;
      padding: 0;
      margin: 0;
      height: 80px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .divider-footer, .divider-footer-md{
    display: none;
  }

  .divider-footer-sm {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
   }
}


@media only screen and (max-width:350px) {
  .custom-pos-1 {
    padding-top: 5px;
    font-size: 10px;
  }
}
