#skills{
  padding: 5% 0;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  border-bottom: 5px solid #01C6FF;
  padding-bottom: 8px;
  width: max-content;
}

.container{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.card{
  background-color: white;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  transition: all 0.2s ease-out;
  overflow: hidden;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
}

.card:hover{
  transform: translateY(-5px);
  border: 1px solid #01C6FF;
  transition: all 0.2s ease-in;
}

.overlay{
  height: 5px;
  width: 5px;
  position: absolute;
  top: 10;
  border-radius: 50%;
  background: #bff1ff;
  /* background: #c7c7c7; */
  /* visibility: hidden; */
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.card:hover .overlay{
  visibility: visible;
  border-radius: 50%;
  transform: scale(35) translateZ(0);
  transition: transform 0.3s ease-in;
}

.ico{
  width: 80px;
  height: 80px;
  margin: 5px;
}




@media only screen and (max-width:993px){
  .card {
      display: flex;
      align-items: center;
      width: 90px;
      height: 90px;
    }

  .ico{
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .ico-txt{
    font-size: 14px;
  }
    .card:hover .overlay {
      visibility: visible;
      border-radius: 50%;
      transform: scale(25) translateZ(0);
      transition: transform 0.3s ease-in;
    }
}

@media only screen and (max-width:600px){
  .container{
    gap: 2rem;
  }
  .card{
    width: 80px;
    height: 80px;

  }
  .ico{
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .ico-txt{
    font-size: 12px;
    font-weight: 600;
  }

}

@media only screen and (max-width:300px){
  .container{
    padding: 0;
    margin: 0;
  }
}
