<div id="skills">
  <div class="skills-section"></div>
  <div class="container">
    <div class="row">
      <div class="skill-text-wrapper col-lg-12">
        <div class="text-align">
          <h1 class="skill-heading">Skills </h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-2 col-md-3 col-sm-6 coll" *ngFor="let skill of skills">
        <div class="img-wrapper">
          <div class="single-skill">
            <img class="ico" [src]=skill.src alt="image" [title]="skill.name">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
