#skills{
  overflow-x: hidden;
}

.container{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}

.card{
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 16px;
}


.glass{
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.ico{
  width: 80px;
  height: 80px;
  margin: 5px;
}




@media only screen and (max-width:993px){
  .card {
      display: flex;
      align-items: center;
      width: 90px;
      height: 90px;
    }

  .ico{
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .ico-txt{
    font-size: 14px;
  }
}

@media only screen and (max-width:600px){
  .container{
    gap: 0.6rem;
  }
  .card{
    width: 80px;
    height: 80px;

  }
  .ico{
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .ico-txt{
    font-size: 12px;
    font-weight: 600;
  }
}

@media only screen and (max-width:300px){
  .container{
    padding: 0;
    margin: 0;
  }
}
